body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;  
}

.card {
    height: 700px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 3px solid #443385;
    box-shadow: -12px 12px 1px rgba(68, 51, 133, 0.2);
}

.rubrik {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -0.9px;
    font-size: 40px;
}

input {
display: flex;
width: 100%;
height: 25%;
padding: 20px 0;
outline: none;
border: none;
border-bottom: 2px solid black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
font-size:x-large;
}

.knapp {
    display: flex;
    justify-content: center;
}

button {
    padding: 0 135px;
    height: 105px;
    background-color: #443385;
    color: white;
    font-weight: bolder;
    letter-spacing: -0.9;
    font-size: 35px;
    box-shadow: -7px 7px 1px rgba(68, 51, 133, 0.2);
}

label {
    color: #5c29db;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -0.9px;
    font-weight: bolder;
    font-size: 17px;
}
